# Server Configuration
PORT=3000
NODE_ENV=development

# Database Engine (mongodb or sqlite)
DB_ENGINE=mongodb

# MongoDB Connection
MONGODB_URI=

# SQLite Connection
SQLITE_DB_PATH=./caddymanager.sqlite

# JWT Authentication
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRATION=24h

# CORS Settings
CORS_ORIGIN=http://localhost:5173

# Logging
LOG_LEVEL=debug

# Caddy sandbox URL
CADDY_SANDBOX_URL=http://localhost:2019

# Ping Configuration
# Values are in milliseconds
PING_INTERVAL=30000
PING_TIMEOUT=2000

# Audit Logging Configuration
# Maximum size of the audit log collection in megabytes
AUDIT_LOG_MAX_SIZE_MB=100
# Number of days to retain audit logs (optional, set to 0 to disable automatic deletion)
AUDIT_LOG_RETENTION_DAYS=90

# Mounted Caddyfiles
# Using these Caddyfiles, Caddy instances can be managed through traditional Caddyfiles instead of the API. 
# These will be available in the UI to associate with a Caddy instance.
# You can add multiple Caddyfiles by following the format below.
#
# Format: 
# CADDYFILE_<UUID>_PATH=<relative_path_to_caddyfile
# CADDYFILE_<UUID>_LABEL=<label_for_ui>
CADDYFILE_SERVER1_PATH=../development/caddy-servers/server-1/Caddyfile
CADDYFILE_SERVER1_LABEL=Server 1

# CADDYFILE_SERVER2_PATH=../development/caddy-servers/server-2/Caddyfile
# CADDYFILE_SERVER2_LABEL=Server 2